.navbar {
  position: fixed;
  top: 0 !important;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #ffc2df;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.11);
  color: white;
  font-weight: 600;
  z-index: 200;
}
.navbar img {
  position: relative;
  margin: 0 16px;
  bottom: 10px;
}
.flipkart-navbar-search {
  position: relative;
  display: flex;
  padding: 10px 0;
  bottom: 10px;
  /* left: 0px !important; */
  align-items: flex-start;
}
.flipkart-navbar-search .row{
  padding: 0px 20px;
}
.flipkart-navbar-search .flipkart-navbar-input {
  position: relative;
  padding: 8px 16px;
  border-radius: 20px 0 0 20px;
  border: 0 none;
  outline: 0 none;
  font-size: 15px;
  height: 40px;
  width: 350px;
}

.flipkart-navbar-button {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0 20px 20px 0;
  color: #565656;
  padding: 2px 0;
  height: 40px;
  width: 70px;
  cursor: pointer;
}
.flipkart-navbar-search .btn{
  background: none;
  border: none;
  padding: 4px;
  border-radius: 0px;
  box-shadow: none;
}
.lang{
  position: relative;
  align-items: center;
  left: 10px;
}
.lang .btn-group .btn{
  width: 160px;
  padding: 4px;
  background: none;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}
.img{
    position: relative;
    top: 0;
    left: 0;
    margin: 0 !important;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@keyframes spin { 
  /* 100% { 
          -webkit-transform: rotate(360deg); 
          transform:rotate(360deg); 
       }  */
       from{
        transform:rotate(0deg);
       }
       to{
        transform:rotate(360deg);
       }
}
.dropdown-menu{
  border-radius: 0px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.11);
  background: #e7e7e7;
  justify-content: center;
}
.dropdown-menu a{
  align-items: center;
  cursor: pointer;
}
.modal-dialog{
  top: 5%;
}
.modal-content{
  height: 500px;
  border-radius: 0.5px;
  border: 2px solid #ffc2df;
}
.modal-body{
  height: 490px;
  padding: 2px 2px;
  background: #ffc2df;
}
.modal-body .section1{
  position: relative;
  float: left;
  width: 50%;
  height: 490px;
  padding: 2px 5px;
  background: white;
}
.modal-body .section1 form{
  position: relative;
  top: 20px;
}
.modal-body .section1 form p:hover{
  text-decoration: underline;
  cursor: pointer;
}
.modal-body .section1 .btn{
  position: relative;
  top: 0px;
  background-color: #ffc2df;
  color: black;
  border-radius: 25px;
  border: none;
  letter-spacing: 0.08rem;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.452); 
}
.modal-body .section1 p:hover{
  text-decoration: underline;
  cursor: pointer;
}
.modal-body .section2{
  position: relative;
  display: inline-block;
  width: 50%;
  height: 490px;
  padding: 2px 2px;
  background: #ffc2df;
  top: 0 !important;
}
.section2 .contents{
  height: 490px;
  padding: 2px 4px;
}
.section2 .contents .imgs{
  position: relative;
  height: 200px;
  padding: 4px;
  top: 20px;
}
.section2 .contents .imgs img{
  width: 60%;
  height: 100px;
  position: relative;
  left: 35px;
}
.section2 .contents ul{
  position: relative;
  padding: 0px 0px 0px 20px;
  top: 30px;
}
.section2 .contents ul li{
  padding: 2px 2px;
  font-size: 13px;
  line-height: 1.43857143;
  letter-spacing: 0.03rem;
}