<div class="container">
    <div class="main-footer">    
        <div class="wrap col-md-10">
            <div class="content col-md-4">
                <h6>About Us</h6>
                <p>We believe indian ecommerce market has lots of potential and this is just the beginning.</p>
            </div>
            <div class="content col-md-4">
                <h6>Information</h6>
                <ul style="margin-bottom: 0;">
                    <li>About Us</li>
                    <li>Contact Us</li>
                    <li>Privacy Policy</li>
                    <li>Sitemap</li>
                </ul>
            </div>
            <div class="content col-md-4">
                <h6>Find Us On</h6>
                <a href=""><img src="/assets/imgs/facebook.png" alt=""></a>
                <a href=""><img src="/assets/imgs/twitter.png" alt=""></a>
                <a href=""><img src="/assets/imgs/instagram.png" alt=""></a>
                <a href=""><img src="/assets/imgs/linkedin.png" alt=""></a>
                <a href=""><img src="/assets/imgs/pinterest.png" alt=""></a>
                <a href=""><img src="/assets/imgs/youtube.png" alt=""></a> 
                <a href=""><img src="/assets/imgs/google-play.png" alt=""></a>
            </div>
            <div class="content col-md-4">
                <h6>Our Contacts</h6>
                <p>Hybrid Mind India Pvt. Ltd.</p>
                <p>Phone: +91 984-904-6240</p>
                <p>Email: contact@priceeagle.in</p> 
            </div>
        </div>
    </div>
    <div class="low-footer">
        <div class="col-md-6" style="display: inline-block;">
            <p>2019 &copy; PriceEagle.All Rights Reserved.</p>
        </div>
        <div class="col-md-6" style="display: inline-block;">
            <p style="margin-left: 60%;">Powered by: <a href="" style="color: red; font-weight: bold;">PriceEagle.in</a></p>
        </div> 
    </div>
</div> 
