.container{
    background:#e7e7e7;
    padding: 2px 6px;
    max-width: 1300px;
    margin-top: 40px;
}
.main-footer{
    padding: 4px 4px;
    background: #ffc2df;
    border-radius: 2px;
    overflow: hidden;
}
.main-footer .wrap{
  display: flex;
    position: relative;
    align-content: center;
    float: left;
}
.main-footer .wrap .content{
  position: relative;
    background: #ffc2df;
    padding: 3px 3px;
    display: flex;
    display: inline-block;
}
.low-footer{
    position: relative;
    /* margin-top: 5px; */
  padding: 10px 10px;
  border-radius: 2px;
  background: #ffc2e19d;
}
.content img{
    padding: 2px 3px;
    width: 40px;
}
.content p{
    font-size: 14px;
    font-weight: lighter;
    padding: 0px 4px;
    letter-spacing: 0.03em;
    margin: 0;
}
