
<body>

  <div class="box" style="position: relative; margin-top: 50px;">
      <h1>About us:</h1>
      <p>Hybrid Mind was founded in December 2016. We have implemented <a style="color: red" href="priceeagle.in">www.priceeagle.in</a> and relevant mobile apps.</p>
      <br>
      <table style="width:30%;margin: auto;">
      <tr>
      <td><a href="https://www.facebook.com/PriceEagleSales/" target="_blank"><img src="../../../../assets/images/fb.png" style="width:50%"/></a></td>
      <td><a href="https://twitter.com/PriceEagleSpeak" target="_blank"><img src="../../assets/images/tw.png" style="width:50%"/></a></td>
      <td><a href="https://www.linkedin.com/company/price-eagle/" target="_blank"><img src="../../assets/images/in.png" style="width:50%"/></a></td>
      <td><a href="https://www.linkedin.com/company/price-eagle/" target="_blank"><img src="../../assets/images/mu.png" style="width:45%"/></a></td>
      </tr>
      </table>
      <br>
      <h3>Our Core belief System:</h3>
      <p> Price eagle is the India's best comparison website which helps the customers to buy the products at lower price.
          This site has few millions of products & categorised into deals,offers,mobiles,tablets,footwear,clothing for men & women,books,agriculture &silver.
          We are affiliated to more than 46 E-commerce websites to provide best offers to the customers.
          Price Eagle provides the best information to the customers in terms of description,reviews,specification of the product.</p>
      <br>
      <h2>Visionary Founder:</h2>
      <table style="width:100%;">
      <tr>
      <td style="width:30%;text-align:center;vertical-align:text-top;"><img src="../../assets/images/dc.jpg" style="border-radius:200px !important;border: 2px solid black;width:90%;"/><br><b>Dr. Debasis Chatterji</b></td>
      <td style="border-radius:50px !important;border:3px double black;padding:10px;text-align:center; border-collapse: none !important;"><br><div id="thought"><i>" I once got a chance to visit the beautiful <span style="font-size:140%;">'Ziro'</span> in Arunachal Pradesh and to see how people shop/buy on-line in the Indian Hinterlands where English is not that prominent. Yes, they do know about the on-line market very well and a lot of them are interested in shopping on-line. However, as a lot of them don't know English much, all they understand about the product is what is shown in the image of the product posted there. Leave aside shopping by comparing prices smartly across different platforms, they don't even know much about what is mentioned in the product's description. Our intention is to make this useful information available to them. We believe that the Indian e-commerce has huge potential that can be tapped by addressing these small shortcomings properly."</i></div><br></td>
      </tr>
      </table>
      <br>
      <h2>Why should you work here?</h2>
      <div style="width:100%;">
      <p>We work like a football team,</p>
      <div style="width:100%;">
      <img src="../../assets/images/soccer.gif" style="margin-left:5em;border-radius:20px;width:300px;"/><img src="../../assets/images/mascot1.png" style="width:180px"/>
      </div>
      <p>passing the ball of knowledge every moment so that we learn from each other. <br>It is a knowledge center</p>
      <img src="../../assets/images/group.jpg" style="margin-left:5em;border-radius:20px;width:300px;"/><img src="../../assets/images/mascot2.png" style="width:100px;margin-left:3em;"/>
      <p> though not at all like a boring book reading. It's great fun to work here!</p>
      </div>
      <br>
      <h2>Our Affiliations:</h2>
      <table style="width:100%" id="affiliates">
      <tr>
      <td><img src="../../assets/images/Affiliates/amazon.png" style="width:100px;"/></td>
      <td><img src="../../assets/images/Affiliates/flipkart.png" style="width:100px;"/></td>
      <td><img src="../../assets/images/Affiliates/tatacliq.png" style="width:100px;"/></td>
      <td><img src="../../assets/images/Affiliates/ajio.png" style="width:100px;"/></td>
      </tr>
      <tr>
      <td><img src="../../assets/images/Affiliates/hs18.png" style="width:100px;"/></td>
      <td><img src="../../assets/images/Affiliates/paytm.png" style="width:100px;"/></td>
      <td><img src="../../assets/images/Affiliates/shopclues.png" style="width:100px;"/></td>
      <td><img src="../../assets/images/Affiliates/myntra.png" style="width:100px;"/></td>
      </tr>
      <tr>
      <td><img src="../../assets/images/Affiliates/krushikendra.png" style="width:100px;"/></td>
      <td><img src="../../assets/images/Affiliates/easemytrip.jpg" style="width:100px;"/></td>
      <td><img src="../../assets/images/Affiliates/mmt.png" style="width:100px;"/></td>
      <td><img src="../../assets/images/Affiliates/limeroad.png" style="width:100px;"/></td>
      </tr>
      <tr>
      <td><img src="../../assets/images/Affiliates/agribegri.png" style="width:100px;"/></td>
      <td><img src="../../assets/images/Affiliates/jabong.png" style="width:100px;"/></td>
      <td><img src="../../assets/images/Affiliates/ss.jpeg" style="width:100px;"/></td>
      <td><img src="../../assets/images/Affiliates/voonik.jpg" style="width:100px;"/></td>
      </tr>
      <tr>
      <td><img src="../../assets/images/Affiliates/bsc.png" style="width:100px;"/></td>
      <td><img src="../../assets/images/Affiliates/firstcry.png" style="width:100px;"/></td>
      <td><img src="../../assets/images/Affiliates/hopscotch.png" style="width:100px;"/></td>
      <td><img src="../../assets/images/Affiliates/nykaa.jpg" style="width:100px;"/></td>
      </tr>
      <tr>

      <td><img src="../../assets/images/Affiliates/yatra.jpg" style="width:100px;"/></td>
      <td></td>
      <td></td>
      </tr>
      </table>
    </div>
</body>

