
<!DOCTYPE html>
<html>
<body>
    <!-- Page Content Wraper -->
        <div class="page-content-wraper" style="position: relative; margin-top: 50px;">
            <!-- Bread Crumb -->
            <!-- <section class="breadcrumb">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <nav class="breadcrumb-link">
                                <h3>Contact Us</h3>
                            </nav>
                        </div>
                    </div>
                </div>
            </section> -->
            <!-- Bread Crumb -->

            <!-- Page Content -->
            <section class="content-page">
                <div class="container">
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div id="map" class="map style1 mb-45"></div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-4 mb-xs-30">
                            <h2 class="normal"><span>Stay In Touch</span></h2>
                            <p class="mb-25">Hybrid
                                    Mind India Pvt. Ltd.</p>
                            <h6>Company address</h6>
                            <p class="mb-25">
                                    Flat no 1201,E-block,phase-2
                                    <br>
                                    RVRG greenhills road moosapet
                                    <br>
                                     Hyderabad Telangana
                                    <br>
                                    500018 India
                            </p>
                            <h6>Contact Information</h6>
                            <ul class="Contact-information mb-25">
                                <li><i class="fa fa-envelope"></i><a href="mailto:contact@priceeagle.in">contact@priceeagle.in</a></li>
                                <li><i class="fa fa-phone"></i>984-904-6240 </li>
                            </ul>
                            <hr>

                        </div>
                        <div class="col-md-6 offset-md-2">
                                <h4 style="color:red">This portion of page is still in Development</h4>
                            <h2 class="normal"><span>Contact Us</span></h2>
                            <form>
                                <div class="form-group">
                                    <label>Your Name <span class="required">*</span></label>
                                    <input id="author" class="form-control" name="author" placeholder=" EnterYour Name (required)" value="" size="30" aria-required="true" required="" type="text">
                                </div>
                                <div class="form-group">
                                    <label>Your Email <span class="required">*</span></label>
                                    <input id="author-email" class="form-control" name="author" placeholder="Enter Your Email Address (required)" value="" size="30" aria-required="true" required="" type="email">
                                </div>
                                <div class="form-group">
                                    <label>Your subject <span class="required">*</span></label>
                                    <input id="subject" class="form-control" name="author" placeholder="Enter Your Subject (required)" value="" size="30" aria-required="true" required="" type="text">
                                </div>
                                <div class="form-group">
                                    <label>Comments<span class="required">*</span></label>
                                    <textarea id="comment" class="form-control" name="comment" placeholder="Enter Your Subject (required)" cols="45" rows="8" aria-required="true" required=""></textarea>
                                </div>
                                <div class="form-group">
                                    <input name="submit" id="submit" class="submit btn btn-md btn-color" value="Submit" type="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Page Content -->

        </div>
        <!-- End Page Content Wraper -->
</body>
</html>
