.container {
  /* display: flex; */
  background: white;
  /* border: 1px solid yellow; */
  padding: 4px 4px;
  margin-top: 80px;
  max-width: 1300px;
}
.btn{
  position: relative;
  background: #ffc2df;
  color: black;
  border-radius: 15px;
  padding: 3px 20px;
  border: none;
  letter-spacing: 0.04em;
  font-weight: bold;
  display: inline-block;
  justify-content: center;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.452);
}
.transactions{
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  /* height: 400px; */
}
.contents{
  position: relative;
  max-height: 100%;
  padding: 5px 2px;
}
.contents .form-group{
  display: inline-block;
}
.questions{
  /* display: flex; */
  /* position: relative; */
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  flex-wrap:wrap;
  /* max-height: 300px; */
  /* padding: 5px 5px; */
}
.questions .inputs{
  max-width: 100%;
  padding: 5px 5px;
}
.questions .inputs [type="radio"]{
  vertical-align: middle;
}
.questions .inputs label{
  font-size: 13px;
  padding: 0px 5px;
  /* vertical-align: middle; */
}
