.container {
  /* display: flex; */
  background: white;
  /* border: 1px solid yellow; */
  padding: 4px 4px;
  margin-top: 45px;
  max-width: 1300px;
}
.contents{
  position: relative;
  padding: 5px 2px;
}
.btn{
  position: relative;
  background: #ffc2df;
  color: black;
  border-radius: 15px;
  padding: 3px 20px;
  border: none;
  letter-spacing: 0.04em;
  font-weight: bold;
  display: inline-block;
  justify-content: center;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.452);
}
.transactions{
  width: 70%;
  /* height: 400px; */
}
.portal{
  position: relative;
  display: flex;
  padding: 5px 5px;
  border: 1px solid #ffc2df;
}
.questions{
  width: 50%;
  display: inline-block !important;
  position: relative;
  padding: 5px 5px;
}
