.overlay{
  position: fixed;
  width: 100%;
  height: 1200px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.643);
  top: 0;
  z-index: 599;
  /* opacity: 0.6; */
  overflow: hidden;
}
.contains{
  position: relative;
  background: white;
  padding: 4px 4px;
  margin: 0 auto;
  width: 800px;
  top: 20%;
  z-index: 1000;
  border-radius: 3px;
  /* opacity: 1.0; */
}
