:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
  color: #2a2a2a;
}
.container {
  position: relative;
  display: flex;
  background: white;
  max-width: 1300px;
  height: 100%;
  /* border: 1px solid yellow; */
  padding: 4px 4px;
  top: 45px;
  overflow: hidden;
}
.container #slider {
  position: absolute;
  overflow: hidden;
  top: 5px;
  left: 200px;
  width: 1100px;
  height: 160px;
  /* margin: 10px 0 0 0; */
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px 5px;
}
#slider .carousel{
  height: 150px;
  width: 1100px;
}
.carousel .carousel-inner{
  height: 150px;
  width: 1090px;
}
.carousel-inner .carousel-item img{
  width: 1090px !important;
  height: 150px;
  left: 0;
}
.carousel-item .img-responsive{
  width: 100%;
  height: 150px;
}
.carousel-inner a.carousel-control-prev, a.carousel-control-next {
  position: absolute;
  top: 25%;
  display: block;
  padding: 0px 0px;
  width: 30px !important;
  height: 70px;
  background: #fff;
  color: #2a2a2a;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}
.carousel-control-prev{
  border-radius: 0 2px 2px 0;
}
.carousel-control-next{
  right: 0;
  border-radius: 2px 0 0 2px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  display: inline-block;
  position: relative;
  top: 20px;
  color: #0e5788;
  width: 20px;
  height: 20px;
}
.container .sidebar {
  width: 200px;
  display: flex;
  top: 10px;
  padding: 4px 4px;
}
.sidebar .list-group {
  width: 200px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.11);
}
.sidebar .list-group .list-group-item {
  cursor: pointer;
  color: #4d4d4d;
  font-weight: 500;
  letter-spacing: 0.03rem;
}
.sidebar .list-group .list-group-item:nth-child(even){
  background-color: #ffc2df;
}
.content{
  position: relative;
  display: flex;
  margin-top: 160px;
  left: 0px;
  padding: 4px 4px;
  width: 1120px;
  height: 100% auto;
}
.content .budget{
  position: relative;
  display: flex;
  width: 1090px;
  height: 140px;
  padding: 2px 4px;
  left: 10px;
  background: #ffc2df;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.11);
  border-radius: 2px;
  /* overflow-x: scroll; */
  /* overflow-y: hidden; */
  /* border: 2px solid #ffc2df; */
}
.budget .col{
  position: relative;
  display: flex;
  height: 100%;
  padding: 2px 4px;
  display: inline-block;
}
.col img{
  position: relative;
  display: flex;
  left: 20px;
  width: 75%;
  height: 110px;
  border-radius: 3px;
}
.col p{
  position: relative;
  padding: 2px 4px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content h4{
  position: relative;
  left: 30px;
  padding: 0px 15px;
}
.content-2{
  position: relative;
  top: 340px;
  left: 230px;
  padding: 4px 4px;
  width: 930px;
}
.popular {
  position: relative;
  display: flex;
  background: white;
  width: 22.5rem;
  height: 130px;
  padding: 0px 4px;
  display: -webkit-box;
  margin: 3px 3px;
  left: 8px;
  border-radius: 3px;
  border: 2px solid #ffc2df;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.11);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.popular .figure{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    padding: 3px 4px;
    border-right: 3px solid #ffc2df;
    width: 50%;
    max-height: 100%;
    align-items: center !important;
    overflow: hidden;
}
.popular:hover{
    transform: scale(1.01);
    box-shadow: 0 1px 5px 0 rgba(185, 123, 159, 0.534);
    z-index: 99;
}
.popular .figure p{
    padding: 0px 0px;
    margin: 0px 0px;
    align-self: center;
    font-size: 13px;
    font-weight: 600;
    color: #4d4d4d;
    letter-spacing: 0.03rem;
    text-align: center;
}
.popular .figure .img-responsive {
    position: relative;
    max-width: 100%;
    max-height: 100px;
    border: 0;
    left: 20px;
    /* transform: scale(1.3); */
    vertical-align: middle;
}

.popular .captions{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    justify-content: center;
    padding: 3px 4px;
    width: 50%;
    overflow: hidden;
}
/* .captions:nth-child(odd){
  float: left !important;
} */
.popular .captions .contents{
    color: #4d4d4d;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.03rem;
    line-height: 1.53857143;
    padding: 0px 2px;
    text-overflow: ellipsis;
}
.popular .captions .contents:hover{
    color: rgb(7, 89, 136);
    font-weight: lighter;
}
.pull-left{
    float: left !important;
}
.pull-right{
    float: right !important;
}
/* Responsive Styles */
